<div class="container">
  <h1>e-Nstruments Music Store</h1>
  <h2>Welcome to Ruby on Rails - <span class="h2-red">e-Nstruments Music Shop</span> App</h3>
  <div class="links-div">
    <%= link_to 'Sign Up', new_user_registration_path, style:"font-size: 1.2rem; text-decoration: none;" %>
    <span class="links-span"></span>
    <%= link_to 'Log In', new_user_session_path, style:"font-size: 1.2rem; text-decoration: none;" %>
  </div>
</div>
