<h1>e-Nstruments Music Store</h1>
<h3>Welcome to Ruby on Rails - e-Nstruments Music Shop App</h3>
<div>
  <%= link_to 'Sign Up', new_user_registration_path %><br />
  <%= link_to 'Log In', new_user_session_path %>
</div>
